Repository fanai-inc/onsite-python3: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, safety

bandit:
  name: bandit
  language: python
  entry: bandit --configfile bandit.yaml
  pass_filenames: true

safety:
  name: safety
  language: python
  entry: safety check -r requirements/lock.txt
  pass_filenames: false

feat(py-reqs): Specify initial Python dependencies
  requirements/dev.in
  requirements/runtime.in
  requirements/static.in
  requirements/test.in
Due: none

fix(pre-commit): Rename key sha -> rev
  .pre-commit-config.yaml
Due: none

feat(make): Add initial commands: init, reqs, lock, lint, and clean-py
  Makefile
Due: none

chore(py-reqs): Lock initial Python dependencies
  requirements/lock.txt
Due: safety

docs(readme): Add "Getting Started" section
  README.rst
Due: none

fix(make-init): Ensure requirements are installed
  Makefile
Due: none

fix(make-init): Specify command as phony
  Makefile
Due: none

feat(make-clean-venv): Add command to remove pyenv virtual environment
  Makefile
Due: none

feat(make-deinit): Add command to purge pyenv virtual environment
  Makefile
Due: none

chore(make-init): Upgrade pip during init
  Makefile
Due: none

docs(readme): Move dependencies to their own section
  README.rst
Due: none

feat: Initialize project package with importable test
  Makefile
  myproj/__init__.py
  myproj/__main__.py
  myproj/__version__.py
  pytest.ini
  setup.py
  tests/conftest.py
  tests/test__importable.py
Due: bandit

feat(bandit): Add simple configuration to exclude tests/ directory
  bandit.yaml
Due: none

chore(py-reqs): Add setup dependencies
  Makefile
  requirements/lock.txt
  requirements/setup.in
Due: safety

chore(py-reqs): Add pytest-flask as a dependency
  requirements/lock.txt
  requirements/test.in
Due: safety

chore(py-reqs): Add pytest-ordering as a dependency
  requirements/lock.txt
  requirements/test.in
Due: safety

feat: Add sample test and set up twitter users and follow relationships
  myproj/__main__.py
  myproj/factory.py
  myproj/models.py
  myproj/resources.py
  myproj/routes.py
  requirements/lock.txt
  requirements/runtime.in
  tests/conftest.py
  tests/test__interviewee.py
Due: bandit, safety

feat(make-debug): Add test command to enter pdb on error
  Makefile
Due: none

chore: Add second test and strengthen follows many-to-many relationship
  myproj/models.py
  myproj/resources.py
  myproj/routes.py
  tests/test__interviewee.py
Due: bandit

refactor(models): Add defaults for twitter user friend and follower counts
  myproj/models.py
  tests/test__interviewee.py
Due: bandit

chore: Add failing test for first interview question
  tests/test__interviewee.py
Due: bandit

docs(questions): Add some data structure questions
  docs/questions.rst
Due: none

chore(make-help): Add description for test and debug commands
  Makefile
Due: none

docs(readme): Add a section for the test
  README.rst
Due: none

fix: Reorder the tests
  tests/test__interviewee.py
Due: bandit

docs(readme): Add warmup test section
  README.rst
Due: none

fix(make-python-version): Force creation of virtual environment
  Makefile
Due: none

Path conditions:
  bandit: any of: .*\.py
  safety: any of: requirements.*\.txt
